/home/ostap/Documents/NLP/nlp/final/env
/home/ostap/Documents/NLP/nlp/project\ 1/TC
/home/ostap/Documents/NLP/nlp/project\ 1/TC_provided/corpus1
/home/ostap/Documents/NLP/nlp/project\ 1/TC_provided/corpus1
/home/ostap/Documents/NLP/nlp/project\ 1/TC_provided/corpus1

/home/ostap/Documents/NLP/Project #2/Dictionaries/Sample_dict
/home/ostap/Documents/NLP/Project #2/Dictionaries/Names
/home/ostap/Documents/NLP/Project #2/Dictionaries/Texts


/home/ostap/Documents/NLP/final/env
/home/ostap/Documents/NLP/final/p2.zip
/home/ostap/Documents/NLP/final/Project\ #2-20180430T204200Z-001.zip


